    
        <ul class="nav nav-tabs" role=tablist>
            <li role=presentation class=active><a href="#{{ tab_id1 }}" aria-controls=missing-bar role=tab data-toggle=tab>{{ tab_title1 }}</a></li>
            <li role=presentation><a href="#{{ tab_id2 }}" aria-controls=missing-bar role=tab data-toggle=tab>{{ tab_title2 }}</a></li>
            <li role=presentation><a href="#{{ tab_id3 }}" aria-controls=missing-bar role=tab data-toggle=tab>{{ tab_title3 }}</a></li>
            <li role=presentation><a href="#{{ tab_id4 }}" aria-controls=missing-bar role=tab data-toggle=tab>{{ tab_title4 }}</a></li>
            <li role=presentation><a href="#{{ tab_id5 }}" aria-controls=missing-bar role=tab data-toggle=tab>{{ tab_title5 }}</a></li>
            <li role=presentation><a href="#{{ tab_id6 }}" aria-controls=missing-bar role=tab data-toggle=tab>{{ tab_title6 }}</a></li>
            <li role=presentation><a href="#{{ tab_id7 }}" aria-controls=missing-bar role=tab data-toggle=tab>{{ tab_title7 }}</a></li>
        </ul>
        <br><br>
        <div class=tab-content>
            <div role=tabpanel class="tab-pane col-sm-12 active" id="{{ tab_id1 }}">{{ tab_content1 }}</div>
            <div role=tabpanel class="tab-pane col-sm-12" id="{{ tab_id2 }}">{{ tab_content2 }}</div>
            <div role=tabpanel class="tab-pane col-sm-12" id="{{ tab_id3 }}">{{ tab_content3 }}</div>
            <div role=tabpanel class="tab-pane col-sm-12" id="{{ tab_id4 }}">{{ tab_content4 }}</div>
            <div role=tabpanel class="tab-pane col-sm-12" id="{{ tab_id5 }}">{{ tab_content5 }}</div>
            <div role=tabpanel class="tab-pane col-sm-12" id="{{ tab_id6 }}">{{ tab_content6 }}</div>
            <div role=tabpanel class="tab-pane col-sm-12" id="{{ tab_id7 }}">{{ tab_content7 }}</div>
        </div>
    