numpy==1.26.4
setuptools>=67.0
pandas==2.2.2
websocket-client~=0.57.0
requests
scipy
statsmodels
scikit-learn==1.5.2
seaborn
bokeh
yfinance
mootdx
pydot
quantstats==0.0.70
htmlmin
IPython
pandas_datareader
networkx