setuptools~=49.2.0
pandas~=1.0.5
numpy==1.26.4
websocket-client~=0.57.0
requests
scipy
statsmodels
scikit-learn==1.5.2
seaborn
bokeh
yfinance
mootdx
pydot
quantstats
htmlmin
IPython
pandas_datareader
networkx
