<a class="anchor-pos" id="top"></a>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand anchor" href="#top">{{ title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="anchor" href="#part0">Data Overview</a></li>
                {% if p1 %}
                <li><a class="anchor" href="#part1">Descriptive Statistics</a></li>
                {% endif %}
                {% if p2 %}
                <li><a class="anchor" href="#part2">Variable Overview</a></li>
                {% endif %}
                {% if p3 %}
                <li><a class="anchor" href="#part3">Variable Details</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>